brukere.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:element name="brukere">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="bruker" type="bruker" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="bruker">
		<xsd:sequence>
			<xsd:element name="brukernavn" type="xsd:string" />
			<xsd:element name="passord" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:int" />
	</xsd:complexType>
</xsd:schema>